*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding: 20px;
}

.title{
  text-align: center;
}
.search-box{
  margin-top: 15px;
  text-align: center;
  margin-bottom: 15px;
}
.search-box input{
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.search-box button{
  padding: 10px 20px;
  margin-left: 15px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-container{
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
  gap: 20px;
}
.card{
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0,0,0.1);
  transition: all 0.3s;
}
.card:hover{
  transform: scale(1.03);
}
.card h3{
  text-align: center;
}
.no-result{
  color: red;
  display: none;
  text-align: center;
}

.pagination{
  text-align: center;
}

 button{
  margin-top:10px ;
  padding: 10px 20px;
  margin-left: 15px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}